/* NewsGrid Styles */
.news-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	gap: 30px;
	padding: 20px;
  }
  
  .news-grid .article {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.297);
  }
  
  @media (max-width: 768px) {
	.news-grid {
	  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
  }
  
  @media (max-width: 480px) {
	.news-grid {
	  grid-template-columns: 1fr;
	}
  }
  